.nested-fields
  .col-lg-6
  %div{class: 'panel panel-success'}
    .panel-heading
      %span.toright
      .form-group
        = f.label :role_id
        = f.select :role_id, options_for_select(Role.all.map { |e| ["#{e.name + " "+e.description}", e.id] }, f.object.role_id),{}, class: 'form-control'

      = link_to_remove_association f, class: 'btn btn-danger fa-lg' do
        = fa_icon :times

  -# .field
  -#   = f.label :role_id
  -#   = f.select :role_id, Role.all.map{|c| ["#{c.name}", c.id]}
