<td><%= link_to user.first_name, user %></td>
<td><%= link_to user.second_name, user %></td>
<td><%= link_to user.last_name, user %></td>
<td><%= link_to user.email, user %></td>
<td><%= user.roles.map{|k,v| k.name} %></td>
