-# %h1.center Список всех ролей
-#
-# %table
-#   %thead
-#     %tr
-#       %th.center= Role.human_attribute_name(:name)
-#       %th.center= Role.human_attribute_name(:description)
-#       %th
-#
-#   %tbody
-#     - @roles.each do |role|
-#       %tr
-#         %td.center= role.name
-#         %td.center= role.description
-#         %td.center
-#           = link_to role, class: 'btn btn-warning fa-lg' do
-#             = fa_icon :eye
-#
-#           = link_to edit_role_path(role), class: 'btn btn-info fa-lg' do
-#             = fa_icon :edit
-#
-#           = link_to role, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger fa-lg' do
-#             = fa_icon :times
-#
-# %br
-#
-#   = link_to new_role_path, class: 'btn btn-success fa-lg' do
-#     = fa_icon :plus
-#     Создать новую роль

.table-responsive
  %table.table.table-hover.table-striped.table-condensed
    %caption
      = link_to new_role_path, class: 'btn btn-success' do
        = fa_icon :plus
        = t('buttons.new.role')
    %thead
      %tr
        %th.center= Role.human_attribute_name(:name)
        %th.center= Role.human_attribute_name(:description)
        %th.w20

    %tbody
      - @roles.each do |role|
        %tr
          %td.center= role.name
          %td.center= role.description
          %td.w20
            = link_to role, class: 'btn btn-warning fa-lg' do
              = fa_icon :eye

            = link_to edit_role_path(role), class: 'btn btn-info fa-lg' do
              = fa_icon :edit

            = link_to role, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger fa-lg' do
              = fa_icon :times
